
<h1>Services</h1>
<div class="main">
<app-addtodo></app-addtodo>
<mat-card >
	<mat-list>
		<mat-list-item *ngFor="let listTodo of todo" >
			<mat-divider ></mat-divider>
			<mat-slide-toggle (change)="toggle(listTodo)" [checked]="!!listTodo.isComplete" color="primary">
				<span [ngClass]="{done:listTodo.isComplete}">{{ listTodo.title }}</span>
			</mat-slide-toggle>
			<button  matTooltip="Delete task" matTooltipPosition="above" mat-icon-button>
				<mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
		</button>
		</mat-list-item>
	</mat-list>
</mat-card>
</div>
