<div class="header">
  <h1>Todo-list</h1>
<span>Home</span> /<span>About</span>
</div>
<h1>Inputs and Outputs</h1>
<div class="main">
 <mat-form-field class="field">
  <input
    #valueTodo
    matInput
    (keyup)= "handleKeyUp(valueTodo.value)"
    placeholder="Write what you to do"
  >
</mat-form-field>
<button mat-mini-fab (click)="addNewTask()">
  <i class="material-icons">add</i>
</button>
<mat-list  class="todolist">
  <mat-list-item  *ngFor="let todo of task"  class="list">
    <mat-checkbox (click)="finishTask(this.todo.id)" [style.text-decoration]="lineThrough" color='primary'>
      {{ todo.title }}
    </mat-checkbox>
    <button (click)="onDelete(this.todo.id)" class="button-remove" mat-mini-fab color="primary">
          <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
</div>

